.todo-input{
    margin-top: 10px;
    .todo-in{
        font-size: 12px;
        padding:2.7px 0 2.4px 10px;
        width: 55%;
    }
    .form-btn{
        background: inherit;
        font-size: 12px;
        padding: 3px 16px 2px 16px;
        border-left: none;
    }    
}